In [16]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#.вывод первых 5 строк
df.head(5)

In [ ]:
#.числовые признаки
df.describe()

In [ ]:
#не числовые признаки
df.info()

In [ ]:
#.кол-во пассажиров
df.PassengerId.count()

In [ ]:
#средний возраст
df['Age'].mean()

In [ ]:
#медианный возраст
df['Age'].median()

In [ ]:
#мода возраста
df['Age'].mode()

In [21]:
#среднее количество братьев/сестер на борту.
df.groupby('Sex').agg({'SibSp': 'mean'})

           SibSp
Sex
female  0.694268
male    0.429809

In [22]:
#среднее количество братьев/сестер на борту. второй способо через уникальные значения

a=df.SibSp.unique()
a.mean()

3.2857142857142856

In [23]:
#среднее количество родствеников 
a=df['Parch']+ df['SibSp']
a.mean()

0.9046015712682379

In [24]:
#среднее количество родствеников второй способ
i= df.Parch + df.SibSp
a=i.unique()
a.mean()

4.222222222222222

In [ ]:
#количество пассажиров, которые выжили.
res=df[df['Survived'] == 1]
len(res)

In [ ]:
#количество пассажиров, которые погибли.
res=df[df['Survived'] == 0]
len(res)

In [25]:
#количество пассажиров каждого класса
res=df[df['Pclass'] == 1]
res2=df[df['Pclass'] == 2]
res3=df[df['Pclass'] == 3]
print(
    'количество пассажиров первого класса:',len(res),'\n''количество пассажиров второго класса:',len(res2),'\n''количество пассажиров третьего класса:',len(res3))

количество пассажиров первого класса: 216
количество пассажиров второго класса: 184
количество пассажиров третьего класса: 491

In [26]:
#средняя цена билета для каждого класса
df.groupby('Pclass').agg({'Fare':'mean'})

             Fare
Pclass
1       84.154687
2       20.662183
3       13.675550

In [27]:
#средняя цена билета для каждого пола
df.groupby('Sex').agg({'Fare':'mean'})

             Fare
Sex
female  44.479818
male    25.523893

In [ ]:
#количество пассажиров с родствениками 
res=df[df['SibSp'] > 0]
len(res)

In [28]:
#средняя цена билета для выживших пассажиров
df.groupby('Survived')['Fare'].mean()[1]

48.39540760233918

In [29]:
#количество пустых значений в каждой колонке.
a=df.isnull().sum()
a

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
#Заполните пустые значения в колонке Age средним значением.
df.Age.fillna(df.Age.mean(),inplace=True)
df

In [ ]:
#признак, обозначающий семейный статус пассажир
df.loc[df['SibSp'] == 0, 'Family status'] = 'single'
df.loc[df['SibSp'] > 0, 'Family status'] = 'family'
print(df.head(10))

In [20]:
#самый популярный порт отправления.
res1=len(df[df['Embarked'] == 'C'])
res2=len(df[df['Embarked'] == 'S'])
res3=len(df[df['Embarked'] == 'Q'])
a=max(res1,res2,res3)
if a==res1:
  print("самый популярный порт: C")
if a==res2:
    print("самый популярный порт: S")
if a==res3:
      print("самый популярный порт: Q")

самый популярный порт: S